streamlit
chromadb>=0.5.0
llama-index>=0.10.0
llama-index-vector-stores-chroma>=0.1.0
llama-index-embeddings-huggingface
llama-index-llms-groq
google-auth
google-auth-oauthlib
google-api-python-client
sentence-transformers
groq
gspread
protobuf>=4.25.3